.hero{
    height: 820px;
    padding: 50px 0;
    
    background-color: var(--page-bg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;


}

.hero__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__img{
    width: 550px;
    margin-right: 90px;
}

.hero__title {
    font-size: 75px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -3px;
    font-family: var(--font-accent);
    margin-bottom: 18px;
}
.hero__blue{
    color: var(--accent);
}
.hero__text {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 1.6;
}
.hero__btn {
    
}

