.nav {
    background-color: var(--page-bg);
    padding: 16px 0;    
    margin-bottom: 50px;
}

.nav__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo {
    z-index: 4;
}

.nav__list {
    display: flex;
    gap: 40px;
    align-items: center;

    
}

.nav__link{
    color: var(--text-color);

    &:hover, :focus{
        color: #39d3f9d9;
    }
}


.nav__btns {
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;
}
.nav__btn {
    
}

.nav__btn-cart{
    display: flex;
    align-items:center;
    gap: 5px;
}
.nav__btn-count {
    
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    font-weight:700;
    background-color: var(--accent);
    border-radius: 50%;
    color: var(--text-color);
    text-align: center;
}