:root {
	--container-width: 1184px;
	--container-padding: 32px;

	--font-main: 'Inter', sans-serif;
	--font-accent: 'Poppins', serif;
	--font-nav:'Space Grotesk', sans-serif;

	--page-bg: #f55492;
	--accent: #39bcf9d9;
	--accent-hover:rgba(23, 165, 230, 0.851);
	--text-color: #fff;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}