<section class="hero">
    <div class="container">
        <div class="hero__box">
        <img class="hero__img" src="./img/hero/monster-1460885_1920.png" alt="">
        <div class="hero__content">
            <h1 class="hero__title">
                Listen to
                <br>
                the <span class="hero__blue">amazing</span>
                music sound.
            </h1>
            <div class="hero__text">
                <p>Experience music like never before</p>
                
            </div>
            <div class="hero__btn">
                <a href="#" class="btn ">
                Shopping now
                </a>
            </div>
            
        </div>
        </div>
    </div>
</section>